In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import datetime as dt
%matplotlib inline

In [2]:
plt.rcParams['font.sans-serif']=['SimHei']  #用来正常显示中文标签
plt.rcParams['axes.unicode_minus']=False  #用来正常显示负号

In [3]:
data = pd.read_csv('data.csv', index_col='Date')

In [4]:
data.head()

              沪深300    中国平安
2015-06-23  0.03214  0.0496
2015-06-24  0.01965  0.0052
2015-06-25 -0.03557 -0.0287
2015-06-26 -0.07868 -0.0605
2015-06-29 -0.03336 -0.0119